.node {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #4352d3;
    border-radius: 10px;
    color: #FFFF;

    width: fit-content;
    padding: 7px;

    cursor: pointer;

    &_name {
        cursor: auto;
    }
}