.tooltip {
    display: flex;
    align-items: center;

    &__content {
        color: #FFFF;
        margin-left: 10px;
        background: #3fafa6;
        padding: 3px;
        border-radius: 5px;
    }
}